<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/app.css">
    <!-- <link rel="stylesheet" href="dist/app.js"> -->
    <script src="https://kit.fontawesome.com/0ae8af7e4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <title>Freelancer</title>
  </head>
  <body>

    <header>

      <!-- navMenu -->
      <nav id="app-menu__header" class="container-menu">
        <div class="container-menu__top">
          <img src="img/avada-freelance-logo.png" alt="">
          <div class="menu__icons">
            <i class="fas fa-plus"></i>
            <i class="fas fa-bars" v-on:click="menuHamb = !menuHamb"></i>
          </div>

        </div>
        <!-- vueMenu -->
        <div v-show="menuHamb" id="" class="container-menu__full">
          <div class="menu-main__nav">
            <ul>
              <li v-for="menuVoices in menuVoices" v-on:click="menuHamb = !menuHamb">
                <a :href="menuVoices.link"> {{menuVoices.text}} </a>
              </li>

              <!-- <menu-item
                v-for="item in menuVoices"
                :menu="item"
                :key="item.id"
              ></menu-item> -->

            </ul>

          </div>
        </div>


      </nav>
      <!-- header -->
      <section class="header-container container__padding">
        <div class="header-container__typo">
          <h3>GIORGIO FREELANCER</h3>
          <h1>Art Director</h1>
          <h4>If id doesn't challenge you, it doesn't change you</h4>
        </div>
      </section>

    </header>
    <main>

      <!-- sectionAbout -->
      <section class="about-container">
        <div class="about-container__div">
          <div class="about-container__div--text template-title">
            <!-- about-Title -->
            <h2>About Me</h2>
            <h4>Ui & ux expert</h4>
            <div id="triangle-bottomright" class="template-title__border">

            </div>
          </div>

          <!-- aboutContent -->

        </div>
        <div class="about-container__div--content containerLarge">
          <div class="about-container__div--content-div">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="about-container__div--content-div">
            <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>

      </section>


      <!-- sectionWhy -->
      <section class="why-container">
        <div class="why-container__div">
          <div class="why-container__div--text template-title">
            <!-- about-Title -->
            <h2>Why Work With Me</h2>
            <h4>WEB • BRANDING • UX/UI</h4>
            <div class="template-title__border">

            </div>
          </div>

        </div>
      </section>
      <!-- why-Title -->

      <!-- whyContent -->

      <!-- whyIcons -->

      <!-- sectionWorks -->
      <section class="works-container">
        <div class="works-container__div">
          <div class="works-container__div--text template-title">
            <!-- about-Title -->
            <h2>Recent Work</h2>
            <h4>WEB • BRANDING • UX/UI</h4>
            <div class="template-title__border">

            </div>
          </div>
          <div class="div-divisory">

          </div>
          <div class="">
            <ul class="works-container__div--ul-work">
              <li>
                <a href="#">
                    <img src="img/portfolio1_featured_item.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                    <img src="img/portfolio2_featured_item.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                    <img src="img/portfolio3_featured_item.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                    <img src="img/portfolio4_featured_item.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                    <img src="img/portfolio5_featured_item.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                    <img src="img/portfolio6_featured_item.jpg" alt="">
                </a>
              </li>

            </ul>

          </div>
        </div>
        <div class="works-container__view-all">
          <h4>VIEW ALL WORK</h4>

        </div>
      </section>
      <!-- recent-Title -->

      <!-- containerWorks -->

      <!-- expandWorks -->

      <!-- sectionTrust -->
      <section class="trust-container">
        <div class="trust-container__div">
          <div class="trust-container__div--text template-title">
            <!-- about-Title -->
            <h4>TRUSTED BY GLOBAL BRANDS</h4>

            </div>
          </div>

        </div>

      </section>
      <!-- carouselTrust -->

      <!-- containerTrustLogo -->

      <!-- sectionBlog -->
      <section class="blog-container">
        <div class="blog-container__div">
          <div class="blog-container__div--text template-title">
            <!-- about-Title -->
            <h2>Expert Design Advice</h2>
            <h4>TRENDING DESIGN NEWS</h4>
            <div class="template-title__border">

            </div>
          </div>
          <div class="div-divisory">

          </div>

        </div>
        <div class="blog-container__div-posts">
          <div class="blog-container__div-posts-full">
            <div class="blog-container__div-posts-img">
              <img src="img/blog1-featured.jpg" alt="">
              <div class="blog-container__div-posts-img-hover">
                <div class="">

                  <a href="https://www.rapidtables.com/convert/color/index.html"><h3>Live The Design Process</h3></a>
                </div>
              </div>
            </div>
            <div class="blog-container__div-posts-content">
              <h3>Live The Design Process</h3>
              <p>uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>


          </div>
          <div class="blog-container__div-posts-full">
            <div class="blog-container__div-posts-img">
              <img src="img/blog2-featured.jpg" alt="">
              <div class="blog-container__div-posts-img-hover">

                <a href="https://www.rapidtables.com/convert/color/index.html"><h3>What’s Next of the App Store?</h3></a>
              </div>
            </div>
            <div class="blog-container__div-posts-content">
              <h3>What’s Next of the App Store?</h3>
              <p>uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>


          </div>
          <div class="blog-container__div-posts-full">
            <div class="blog-container__div-posts-img">
              <img src="img/blog3-featured.jpg" alt="">
              <div class="blog-container__div-posts-img-hover">

                <a href="https://www.rapidtables.com/convert/color/index.html"><h3>The Humble Wooden Desk</h3></a>
              </div>
            </div>
            <div class="blog-container__div-posts-content">
              <h3>The Humble Wooden Desk</h3>
              <p>uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>


          </div>

        </div>

      </section>
      <!-- containerBlogPost -->

      <!-- blogPost -->

      <!-- sectionForm -->
      <section class="form-container">
        <div class="form-container__div containerMedium">
          <div class="form-container__div--text template-title">
            <!-- about-Title -->
            <h2>Let’s Work Together</h2>
            <h4>TELL ME MORE ABOUT YOUR PROJECT</h4>
            <div class="template-title__border">

            </div>
            <div class="">
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="form-container__div--form">
            <div class="form-container__div--form-obj" >
              <input type="text" name="" value="" placeholder="NAME*">
              <input type="text" name="" value="" placeholder="PHONE*">
              <input type="text" name="" value="" placeholder="EMAIL*">
              <button type="button" name="button">LET'S TALK</button>

            </div>
          </div>

        </div>

      </section>
      <!-- form-Title -->

      <!-- form -->
    </main>

    <footer>
      <!-- logoFooter -->
      <section id="app-footer">
        <div class="container--footer">
          <img :src="imgLogo.src" alt="">
          <div class="footer-rights">
            <ul>
              <li v-for="rightsVoices in rightsVoices" >
                {{rightsVoices.text}} <span class="bold-class">{{rightsVoices.bold}}</span> {{rightsVoices.text2}}
              </li>
            </ul>
          </div>
          <div class="footer-socials">
            <ul>
              <li v-for="socialIcons in socialIcons" >
                <a :href="socialIcons.link">
                 <i :class="socialIcons.icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- textFooter -->

      <!-- socialIconsFooter -->
    </footer>
    <script type="text/javascript" src="src/app.js">

    </script>

  </body>
</html>
