<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/app.css">
    <!-- <link rel="stylesheet" href="dist/app.js"> -->
    <script src="https://kit.fontawesome.com/0ae8af7e4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <title>Freelancer</title>
  </head>
  <body>

    <header>

      <!-- navMenu -->
      <nav id="app-menu__header" class="container-menu">
        <div class="container-menu__top">
          <img src="img/avada-freelance-logo.png" alt="">
          <div class="menu__icons">
            <i class="fas fa-plus"></i>
            <i class="fas fa-bars" v-on:click="menuHamb = !menuHamb"></i>
          </div>

        </div>
        <!-- vueMenu -->
        <div v-show="menuHamb" id="" class="container-menu__full">
          <div class="menu-main__nav">
            <ul>
              <li v-for="menuVoices in menuVoices" v-on:click="menuHamb = !menuHamb">
                <a :href="menuVoices.link"> {{menuVoices.text}} </a>
              </li>

              <!-- <menu-item
                v-for="item in menuVoices"
                :menu="item"
                :key="item.id"
              ></menu-item> -->

            </ul>

          </div>
        </div>


      </nav>
      <!-- header -->
      <!-- <section class="sectionHeader">
        <div class="containerHeaderText">
          <h3>GIORGIO FREELANCER</h3>
          <h1>Art Director</h1>
          <h4>If id doesn't challenge you, it doesn't change you</h4>
        </div>
      </section> -->

    </header>
    <main>

      <!-- sectionAbout -->
      <section class="sectionAbout">
        <div class="containerAbout">
          <div class="about--title titleFormat">
            <!-- about-Title -->
            <h2>About Me</h2>
            <h4>Ui & ux expert</h4>
            <div class="borderTitle">

            </div>
          </div>

          <!-- aboutContent -->

        </div>

      </section>


      <!-- sectionWhy -->

      <!-- why-Title -->

      <!-- whyContent -->

      <!-- whyIcons -->

      <!-- sectionWorks -->

      <!-- recent-Title -->

      <!-- containerWorks -->

      <!-- expandWorks -->

      <!-- sectionTrust -->

      <!-- carouselTrust -->

      <!-- containerTrustLogo -->

      <!-- sectionBlog -->

      <!-- containerBlogPost -->

      <!-- blogPost -->

      <!-- sectionForm -->

      <!-- form-Title -->

      <!-- form -->
    </main>

    <footer>
      <!-- logoFooter -->
      <section id="app-footer">
        <div class="container--footer">
          <img :src="imgLogo.src" alt="">
          <div class="footer-rights">
            <ul>
              <li v-for="rightsVoices in rightsVoices" >
                {{rightsVoices.text}}
              </li>
            </ul>
          </div>
          <div class="footer-socials">
            <ul>
              <li v-for="socialIcons in socialIcons" >
                <a :href="socialIcons.link">
                 <i :class="socialIcons.icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- textFooter -->

      <!-- socialIconsFooter -->
    </footer>
    <script type="text/javascript" src="src/app.js">

    </script>

  </body>
</html>
