*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: all 1s ease;
  -moz-transition:    all 1s ease;
  -o-transition:      all 1s ease;
  -ms-transition:     all 1s ease;
  transition:         all 1s ease;
}

@mixin flexCenterParent($justify, $align, $direction){
  justify-content: $justify;
  align-items: $align;
  display: flex;
  flex-direction: $direction;
}
