.container--footer{
  @include flexCenterParent(center, center, column);
  height: 300px;
  background-color: $brandColor;
  img{
    margin-bottom: 20px;
  }
  .footer-rights{
    text-align: center;
    ul{
      margin: 10px;

      li{
        display: inline-block;
        font-size: $siteFontSize;
        border-right: 2px solid;
        border-color: $brandGrey;
        margin: 5px;
        padding-right: 10px;
        &:last-child {
          border: none;
        }
      }
    }
    color: $brandGrey;

  }

  .footer-socials{
    ul{
      @include flexCenterParent(center, center, row);
      li{
        display: inline-block;
        background-color: $whiteColor;
        height: 30px;
        width: 30px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }
    a{text-decoration: none;
      color: $brandColor;
      }
  }

}
