// Menu

.container-menu__top{
  height: 50px;
  background-color: $brandColor;
  @include flexCenterParent(space-between, center, row);
  padding: 0 20px;
  color: $whiteColor;
  i {
    margin: 0 10px;
    &:hover {
      color: $brandAltColor;
    }
  }
  img{
    height: 30px;
  }
}

.container-menu__full{
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: $brandColor;

  @include flexCenterParent(center, center, row);
  li {
    text-align: center;
    list-style: none;
    margin-bottom: 40px;
  }
  a{
    color: $whiteColor;
    font-size: $menuFontSize;
    text-decoration: none;

    &:hover{
      color: $brandAltColor;
    }

  }

}

// Jumbotron

.header-container {
  // background-color: red;

  height: 500px;
  text-align: center;
  @include flexCenterParent (center, center, column);
  background-image: url("../img/header_back.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__typo{
    h3 {
      color: $whiteColor;
    }
    h1 {
      color:$brandAltColor;
    }
    h4 {
      color:$brandGrey;
    }
  }
}
