.titleFormat {
  h2 {
    font-size: 56px;
    font-weight: 600;
    color: 
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .borderTitle{
    border-bottom: solid 2px white;
  }
}
