.template-title {
  h2 {
    font-size: 56px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__border{
    border-bottom: solid 2px white;
  }
} 
