
// colors
$whiteColor: (#ececec);
$brandGrey: (#72697a);
$brandAltColor: (#f9245b);
$brandAltColorTrap: (rgba(249,36,91,0.5));
$brandColor: (#191d26);
$blackTrasp: (rgba(0,0,0,0.5));



// containers

$containerLarge: 800px;
$containerMedium: 500px;
