
// colors

$brandGrey: (#72697a);
$brandAltColor: (#FCAD1C);
$brandAltColorTrap: (rgba(249,36,91,0.5));
$brandColor: (#191d26);
$blackTrasp: (rgba(0,0,0,0.5));
$whiteColor: (#ececec);




// containers

$containerLarge: 800px;
$containerMedium: 500px;
